<footer class="text-center" style="background-color: darkgray; color: white; padding: 30px; ">
    <div class="container" >
        <div class="row">
          <div class="col">
            <h3>Contactanos:</h3>
            <ul>
                <li>Principal: +123 456 7890</li>
                <li>Admisiones: +123 456 7891</li>
                <li>Departamento de Investigación: +123 456 7892</li>
            </ul>
          </div>
          <div class="col">
            <h3>Vistia nuestras paginas</h3>
            <ul>
                <li><a href="#" style="height: 40px; width: 200px;" class="btn btn-success">UTEConnect</a></li>
                <li><a href="#" style="height: 40px; width: 200px;" class="btn btn-primary">UTECareerHub</a></li>
                <li><a href="#" style="height: 40px; width: 200px;" class="btn btn-warning">UTEInnovate</a></li>
            </ul>
          </div>
          <div class="col">
            <h3>Vistia siguenos en nuestras redes</h3>
            <ul>
                <li><a href="#" style="height: 40px; width: 200px;" class="btn btn-primary">Facebook</a></li>
                <li><a href="#" style="height: 40px; width: 200px;" class="btn btn-danger">YouTube</a></li>
                <li><a href="#" style="height: 40px; width: 200px;" class="btn btn-info">Twiter</a></li>
            </ul>
          </div>
        </div>
      </div>
</footer>