
<header class="header bg-dark">
  <p style="color:wheat;font-family: 'Times New Roman', Times, serif;"></p>
  <div class="logo">
    <img routerLink="/login" src="../../favicon.ico" alt="">
</div>
  <nav>
     <ul class="nav-links">
          <li><a routerLink="/inicio"> Inicio </a></li>
          <li><a routerLink="/acerca"> Sobre Nosotros </a></li>
          <li><a routerLink="/form"> Formulario de ingreso </a></li>
          <li><a routerLink="/oferta"> Oferta educativa </a></li>
     </ul>            
  </nav>
</header>