<img src="../../assets/Img/img1.jpg" class="img-fluid" alt="Salon de clases" style="width: 100%;height: 400px;">
<div style="margin: 40px;">
   
    <div class="container-flid">
        <h1>Quienes somos y cuales son nuestros objetivos</h1>
    </div>
    
    <div class="container-fluid">
        <p>En la Universidad UTE, no solo buscamos transmitir conocimiento, sino también fomentar el pensamiento crítico y la creatividad en nuestros estudiantes. Creemos que la educación no se trata solo de acumular información, sino de aprender a cuestionar, analizar y aplicar ese conocimiento de manera innovadora para enfrentar los desafíos de nuestro tiempo.

        Nuestro enfoque interdisciplinario es una de nuestras fortalezas distintivas. Fomentamos la colaboración entre diferentes campos de estudio, creando así una atmósfera que refleja la complejidad del mundo real. Los problemas del mundo actual rara vez se limitan a una sola disciplina, y en UTE, nuestros estudiantes aprenden a combinar ideas y enfoques para encontrar soluciones integrales.

        Nuestra comunidad de profesores y estudiantes es verdaderamente diversa y global. Creemos en la importancia de la inclusión y en brindar oportunidades educativas a personas de diversos orígenes y culturas. Esta diversidad enriquece nuestras aulas y debates, preparando a nuestros graduados para sobresalir en un mundo cada vez más conectado.

        En UTE, la investigación es un pilar fundamental. Nuestros investigadores y científicos trabajan en proyectos innovadores que abordan desafíos globales, desde la sostenibilidad ambiental hasta la salud y la tecnología de vanguardia. Creemos en el poder de la investigación para impulsar el progreso y mejorar la calidad de vida de las personas en todo el mundo.

        Pero la Universidad UTE no es solo un lugar de aprendizaje y descubrimiento, también es una comunidad comprometida con el servicio y el impacto social. Nuestros estudiantes y profesores se involucran en una variedad de proyectos comunitarios, trabajando juntos para abordar problemas locales y globales. Creemos que la educación debe inspirar a los jóvenes a convertirse en ciudadanos responsables y agentes de cambio.

        En resumen, la Universidad UTE es un lugar donde se nutren las mentes curiosas, se promueve la excelencia académica y se fomenta la responsabilidad social. Estamos orgullosos de ser una institución que desafía los límites convencionales y busca constantemente formas de avanzar en beneficio de la sociedad.

        Gracias por unirse a nosotros en este viaje de aprendizaje, descubrimiento y transformación en la Universidad UTE. Juntos, estamos forjando futuros brillantes que impactarán positivamente en nuestro mundo.</p>
    </div>
    <div class="container-flid">
        <h1>Direccion de Nuestro Campus</h1>
    </div>
    <div class="container-flid">
        <p>Universidad Tecnológica de la Excelencia (UTE)

            Avenida Innovación, 1234

            Ciudad Progresar, CP 56789

            País Modernia</p>
    </div>
    <div class="container-flid">
        <h1>Numeros Telefonicos:</h1>
    </div>
    <div class="container-flid">
        <ul>
            <li>Principal: +123 456 7890</li>
            <li>Admisiones: +123 456 7891</li>
            <li>Departamento de Investigación: +123 456 7892</li>
        </ul>
    </div>
 
 

    <div class="container-flid" style="margin-left: 80px;">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/Img/autor.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">El presente proyecto es universitario </h5>
          <p class="card-text">Creado por: Carlos Saul Torres Alba
          </p>
          
        </div>
      </div>
    </div>
</div>